.App {
  padding: 0px 12px;
}
.item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding: 4px 0px;
}

h1 {
  text-align: center;
}

.header {
  font-weight: bold;
}

.item-container p {
  text-align: center;
}

.title-container {
  width: 100%;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.in-use-button-container {
  display: flex;
  justify-content: center;
}

.in-use-button {
  background: none;
  border: none;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.inactive {
  background: red;
  color: white;
  transition: all 0.2s ease-in-out;
}

.active {
  background: green;
  transition: all 0.2s ease-in-out;
}
