.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  border-bottom: 1px solid gray;
}

h1 {
  text-align: center;
}

.header {
  font-weight: bold;
}

.item-container p {
  text-align: center;
}
